.trainings {
  margin: 90px $section-margin-desk $section-margin-desk $section-margin-desk;
  display: flex;
  justify-content: space-between;
  &_size_mob {
    display: none;
  }
  &__text {
    @include columns();
    max-width: 460px;
    margin-right: 30px;
  }
  &__par {
    margin-top: 50px;
  }
  &__links {
    @include list-unstyled();
    display: flex;
    gap: 30px;
    margin: auto 0 0 0;
  }
  &__link {
    font-weight: $semi-bold;
    font-size: $size-p-desk;
    line-height: $line-p-desk;
  }
  &__img {
    max-width: 580px;
    min-width: 0;
    object-fit: contain;
  }
}

@media screen and (max-width: $desk) {
  .trainings {
    &__links {
      margin: 40px 0 0 0;
    }
  }
}

@media screen and (max-width: $tablet) {
  .trainings {
    display: none;
    &_size_mob {
      @include columns();
      @include section-mob(40px);
      margin-bottom: 60px;
    }
    &__links {
      margin: 0;
    }
    &__par {
      margin: 0;
    }
    &__img {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: $mob) {
  .trainings {
    &__link {
      font-size: $size-button-desk;
      line-height: $line-cp;
    }
  }
}