.main {
  @include columns();
  gap: $section-margin-desk;
}

@media screen and (max-width: $tablet) {
  .main {
    margin: 0 40px;
    gap: 80px;
  }
}

@media screen and (max-width: $mob) {
  .main {
    margin: 0 18px;
  }
}

