$black: #151515;
$grey: #222222;
$white: #FFFFFF;
$bg-color-primary: #F4F4F4;
$bg-color-dark: #333333;
$arrow-bg: #EBEBEB;
$copy-right: #CFCFCF;
$menu-border: #E3E3E3;
$bold: 700;
$semi-bold: 600;
$medium: 500;
$normal: 400;
$size-title-desk: 55px;
$line-title-desk: 60px;
$size-title-mob: 32px;
$line-title-mob: 40px;
$size-p-desk: 18px;
$line-p-desk: 28px;
$size-p-mob: 12px;
$size-button-desk: 14px;
$size-button-mob: 13px;
$line-button-mob: 19px;
$size-quote-desk: 34px;
$size-quote-mob: 23px;
$line-quote-desk: 44px;
$line-quote-mob: 29px;
$size-about: 16px;
$line-about-mob: 10px;
$line-name-desk: 22px;
$size-footer-desk: 24px;
$line-cp: 20px;
$size-menu-button: 11px;
$spacing: -0.5px;
$mob: 425px;
$tablet: 768px;
$desk: 1024px;
$section-margin-desk: 120px;
