.switcher {
  @include cross-centered();
  gap: 22px;
  &__button {
    width: 44px;
    height: 24px;
    border: 0px;
    padding: 0;
    background: #FFFFFF;
    border-radius: 9999px;
    display: flex;
    cursor: pointer;
    background-image: url(../images/round.svg);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    transition: background-position 300ms linear;
    &_type_animated {
      background-position: 22px 2px;
    }
  }
}


